#pageloader,
#page_heartbeat_box {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 45, 45, 0.3);
	z-index: 100;
	cursor: none;
}
#preloader {
	position: fixed;
	width: fit-content;
	height: fit-content;
	left: 50%;
	z-index: 259;
}

#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #cf6e0d;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #f5a721;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}
#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #f7b441;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
#heartbeat {
	width: 45px;
	height: 45px;
	object-fit: contain;
	left: 50%;
	top: 50%;
	position: relative;
	animation: heartbeat 1s infinite;
	margin: -50px 0 0 -50px;
}
#heartbeat_preload {
	width: 45px;
	height: 45px;
	object-fit: contain;
	position: relative;
	top: -70px;
	left: -29px;
	border: none;
	animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
